[submodule "src/3rdparty/hunspell"]
	path = src/3rdparty/hunspell
	url = https://github.com/hunspell/hunspell.git
[submodule "src/3rdparty/discount"]
	path = src/3rdparty/discount
	url = https://github.com/Orc/discount.git
